name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # allow running manually
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Switch locale
      run: |
        sudo apt-get update
        sudo apt-get install -y language-pack-de
        update-locale LANG=de_DE.UTF-8

    - uses: actions/checkout@v6

    - name: Build snap
      uses: snapcore/action-build@v1
      id: snapcraft

    - name: Install the tester Snap
      run: |
        make install

    - name: Run Tests
      run: |
        make test
