name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # allow running manually
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Build snap
      uses: snapcore/action-build@v1
      id: snapcraft

    - name: Install the tester Snap
      run: |
        make install

    - name: Run Tests
      run: |
        make test
